---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/PageLayout.astro';

const metadata = {
  title: 'M.A.R.S. — Our story and meet the people behind',
  ignoreTitleTemplate: true,
};

const PEOPLE = [
  {
    image: '/images/team/adrian-minea.jpeg',
    linkedin: 'https://www.linkedin.com/in/adrian-minea-82383812',
    name: 'Adrian Minea',
    role: 'CEO',
  },
  {
    image: '/images/team/mihai-andrei.jpeg',
    name: 'Mihai Andrei',
    role: 'Product Owner',
  },
  {
    image: '/images/team/voicu-stoiciu.jpeg',
    linkedin: 'https://www.linkedin.com/in/groza-beniamin',
    name: 'Voicu Stoiciu',
    role: 'Head of business development',
  },
  {
    image: '/images/team/beniamin-groza.png',
    linkedin: 'https://www.linkedin.com/in/groza-beniamin',
    name: 'Beniamin Groza',
    role: 'CTO',
  },
];

const DEV_TEAM = [
  {
    name: 'Ringaro Software',
    linkedin: 'https://www.linkedin.com/company/ringaro-software',
  },
];
---

<Layout metadata={metadata}>
  <section class="bg-blue-50 dark:bg-transparent flex flex-col py-24" id="our-story">
    <div class="max-w-6xl mx-auto px-4">
      <!-- Title -->
      <h1 class="text-4xl font-bold text-gray-900 dark:text-white mb-12 text-center">Who are we?</h1>

      <!-- Story Section -->
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
        <!-- Our Story -->
        <div class="text-center">
          <Icon name="tabler:message-circle" class="text-blue-600 w-16 h-16 mx-auto mb-4" />
          <h2 class="text-3xl font-semibold text-gray-800 dark:text-gray-200 mb-4">Our Story</h2>
          <p class="text-lg text-gray-600 dark:text-gray-400 mb-8">
            Our platform was born from the vision of a well-established logistics company with over 20 years of industry
            expertise. Recognizing the evolving needs in logistics, we brought together a talented tech team to create a
            solution that integrates cutting-edge technology with deep domain knowledge.
          </p>
        </div>

        <!-- Our Vision -->
        <div class="text-center">
          <Icon name="tabler:bulb" class="text-blue-600 w-16 h-16 mx-auto mb-4" />
          <h2 class="text-3xl font-semibold text-gray-800 dark:text-gray-200 mb-4">Our Vision</h2>
          <p class="text-lg text-gray-600 dark:text-gray-400 mb-8">
            We aim to meet the diverse logistics challenges our customers face, offering innovative solutions for
            efficient, reliable, and cost-effective transportation services. Let's bring the logistics industry to the
            next level with the help of the best technology. Together.
          </p>
        </div>

        <!-- Our Technology -->
        <div class="text-center">
          <Icon name="tabler:share" class="text-blue-600 w-16 h-16 mx-auto mb-4" />
          <h2 class="text-3xl font-semibold text-gray-800 dark:text-gray-200 mb-4">Our Technology</h2>
          <p class="text-lg text-gray-600 dark:text-gray-400 mb-8">
            The most advanced technology designed to optimize every step of the logistics process. Our platform analyzes
            multiple transport options with real-time data, providing seamless integration with courier services and
            market platforms for the best routes, pricing, and carriers.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Meet the People Behind Section -->
  <section class="py-12">
    <div class="max-w-6xl mx-auto px-4">
      <h2 class="text-4xl font-bold text-gray-900 dark:text-white mb-12 text-center">Meet the people behind</h2>

      <!-- People Section -->
      <div class="mb-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
          {
            PEOPLE.map((person) => (
              <div class="text-center">
                {person?.image && (
                  <img class="w-32 h-32 rounded-full mx-auto mb-4" src={person.image} alt={person.name} />
                )}
                <h4 class="text-2xl font-semibold">{person.name}</h4>
                <p class="text-base text-gray-600">{person.role}</p>
                {person.linkedin && (
                  <a href={person.linkedin} target="_blank" class="text-blue-600">
                    LinkedIn
                  </a>
                )}
              </div>
            ))
          }
        </div>
      </div>

      <!-- Development Team Section -->
      <div>
        <h3 class="text-3xl font-semibold text-gray-800 dark:text-gray-200 mb-6 text-center">Development Team</h3>
        <div class="grid grid-cols-1 sm:grid-cols-1 gap-8">
          {
            DEV_TEAM.map((member) => (
              <div class="text-center">
                <h4 class="text-2xl font-semibold">{member.name}</h4>
                <a href={member.linkedin} target="_blank" class="text-blue-600">
                  LinkedIn
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
